<p style="color: green"><%= notice %></p>

<h2>List of ratings</h2>

<p>Number of ratings: <%= @ratings.count %></p>

<div id="ratings">
    <ul>
        <% @ratings.each do |rating| %>
            <li> <%= render rating %> </li>
        <% end %>
    </ul>
</div>
