<div id="<%= dom_id beer %>">
  <h2>
    <strong>Name:</strong>
    <%= beer.name %>
  </h2>

  <p>
    <strong>Style:</strong>
    <%= beer.style %>
  </p>

  <p>
    <strong>Brewery:</strong>
    <%= link_to beer.brewery.name, beer.brewery %>
  </p>

</div>
